<!DOCTYPE html>
<html lang="en" ng-app="appMap">

<head>
    <title>Trix-Teste</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./lib/leaflet/leaflet.css">
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <div ng-controller="appMapCtrl" class="row content">
        <div class="col-sm-4 side-left">

            <img class="logo" src="img/trixlog.png" />

            <div class="input-group mb-3">
                <input ng-model="point.name" type="text" class="form-control" placeholder="Nome">

                <input ng-model="point.position.lat" type="text" class="form-control" placeholder="Latitude">
                <input ng-model="point.position.lng" type="text" class="form-control" placeholder="Longitude">
                <div class="input-group-append">
                    <button ng-click="addPoint(point)" type="button" class="btn btn-success btn-block">+</button>
                </div>
            </div>

            <button ng-disabled="points.length < 2" ng-click="sendPoints()" type="button"
                class="btn btn-success btn-block">Definir Rota</button>

            <table ng-show="points.length != 0" class="table  table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Pontos Cadastrados</th>
                        <th><button ng-disabled="!isPointSelected(points)" ng-click="deletePoints(points)" type="button"
                                class="btn btn-danger btn-sm">Apagar</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="point in points">
                        <td>{{ point.name }}</td>
                        <td><input type="checkbox"  ng-model="point.selected"></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <map ng-if="pointList.length != 0" class="col-sm-8 side-right">
            <marker ng-if="pointList.length != 0"></marker>
            <polyline ng-if="pointList.length != 0"></polyline>
        </map>


    </div>

    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/leaflet/dist/leaflet.js"></script>
    <script src="./js/app.js"></script>

    <script src="./js/controllers/appMapCtrl.js"></script>

    <script src="./js/value/configs.js"></script>

    <script src="./js/services/pointsApiService.js"></script>
    <script src="./js/services/mapFactory.js"></script>

    <script src="./js/directives/mapDirective.js"></script>
    <script src="./js/directives/markerDirective.js"></script>
    <script src="./js/directives/polylineDirective.js"></script>


</body>

</html>